
<router-outlet></router-outlet>

















<!-- ===== One way binding ===== -->
<!-- <h1>{{title}}</h1>
<p>{{descrip}}</p>
<h3>{{isClassEnded}}</h3>
<h3>{{numberOfStudents}}</h3>
<h2>The student {{userName}} is hungry</h2>
<h4>he really needs {{studentNeed}}</h4>

<!-- ===== Two way binding ===== -->
<input type="text" name="" [(ngModel)]="userName"  placeholder="Enters username" id="">
<h2>{{userName || 'no User name'}}</h2>

<!-- ------=======>>>>>>>Structural Directives<<<<<<<<========------ -->

<h3> Food Menus</h3> <br>

<button (click)="toggleMenu()">Show menu</button>
<ul *ngIf="showMenu">
  <li *ngFor="let dish of dishes;">{{dish}}</li>

</ul>
<!-- =====>>>>> Create Todo and Todos<<<<<<===== -->
<app-todos></app-todos> -->