.container{
height: 28rem;
width: 18.5rem;
align-items: center;
text-align: center;
background-color: black;
color: rgb(253, 253, 253);
border-radius: 8px;
margin-left: 2rem;
box-shadow: rgb(241, 197, 1);
z-index: 1;
/* padding-top: 6rem; */
}
.img{
    height: 8.5rem;
    width:  inherit;
    border-radius: 0px 0px 20px 20px;
}
/* button{
    background-color: ;
} */
